body {
    width: 100%;
    height: 120vh;
    overflow-y: scroll;
    overflow-x: hidden !important;
    background-color: black !important;
}

.botoes-iniciais {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 40vh;
    margin: auto;
}

.col-9 {
    justify-content: end;
    margin-right: 0%;
}



.modal-backdrop {
    z-index: -1;
}

.container-fluid {
    position: fixed;
    z-index: 12312321312321;
    top: 0px;
}

.row {
    flex-wrap: nowrap;
}

.myName {
    font-family: 'Signika', sans-serif;
    width: 150%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 26px;
}

.container-card {
    padding-top: 18vh;
    width: 100%;
    display: flex;
}


.card {
    background-color: gray;
    width: 45vh;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.card-body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.info {
    display: flex;

    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
}

.animated-gif {
    margin-right: 20px;
    margin-left: 20vh;
}

.icon {
    align-content: center;
    flex-direction: column;
    display: flex;
    height: 10vh;
}

.navbar-icon {
    height: 70px;
}

.icon-linux {
    display: flex;
    justify-content: end;
    margin-left: 40vh;
    height: 40vh;
}

.icon-angular {
    height: 10vh;
}