body {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.botoes-iniciais {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 40vh;
    margin: auto;
}

.background {
    background-color: black;
    opacity: 80%;
    height: 120%;
    width: 100%;
    position: static;
}

.col-9 {
    justify-content: end;
    margin-right: 0%;
}

.card {
    background-color: gray;
    width: 45vh;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.card-body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


.modal-backdrop {
    z-index: -1;
}

.container-fluid {
    position: fixed;
    z-index: 12312321312321;
    top: 0px;
}

.row {
    flex-wrap: nowrap;
}

.myName {
    font-family: 'Signika', sans-serif;
    width: 150%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 26px;
}

.container-card {
    padding-top: 18vh;
    margin: auto;
    width: auto;
}