@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    overflow-x: hidden;
    background-image: url(../imgs/space.jpg);
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
}

.botoes-iniciais {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 40vh;
    margin: auto;
}

.col-9 {
    justify-content: end;
    margin-right: 0%;
}



.modal-backdrop {
    z-index: -1;
}

.container-fluid {
    position: fixed;
    z-index: 12312321312321;
    top: 0px;
}

.row {
    flex-wrap: nowrap;
}

.myName {
    font-family: 'Signika', sans-serif;
    width: 150%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 26px;
}

.container-card {
    padding-top: 18vh;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;

}


.card {
    background-color: darkcyan;
    width: 100vh;
    height: auto;
    margin-left: 8vh;
    border-radius: 20px;
}

.card-body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.animated-gif {
    margin-right: 5vh;
    margin-left: 20vh;
}

.icon-kotlin {
    position: relative;
    height: 10vh;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.navbar-icon {
    height: 70px;
}

.icon-linux {
    height: 40vh;
}

.icon-angular {
    height: 10vh;
}

.div-linux {
    position: relative;
    margin-right: auto;
    margin-left: 0;
    display: flex;
    float: right; 
}

.icon {
    display: flexbox;
    align-content: center;
    flex-direction: column;
    position: relative;
}

.icon.icon-linux {
    position: ;
    float: right;
    display: flex;
}

#cardAccord {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    border-radius: 18px;
    align-content: center;
    padding: auto;
    width: 100%;
}


#card-accord-top {
    width: 20%;
    height: 20%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: darkslategrey;
}

#botao-collapse {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.icon-spring {
    margin-top: 10px;
    height: 10vh;
}